<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-chapter-heading">Create or edit a Chapter</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!chapter.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="chapter.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="chapter.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_chapterNumber">Chapter Number</label>
                    <input type="number" class="form-control" name="chapterNumber" id="field_chapterNumber"
                        [(ngModel)]="chapter.chapterNumber" required/>
                    <div [hidden]="!(editForm.controls.chapterNumber?.dirty && editForm.controls.chapterNumber?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.chapterNumber?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.chapterNumber?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="chapter.description" required/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" for="field_courseID">Course ID</label>-->
<!--                    <input type="text" class="form-control" name="courseID" id="field_courseID"-->
<!--                        [(ngModel)]="chapter.courseID" required/>-->
<!--                    <div [hidden]="!(editForm.controls.courseID?.dirty && editForm.controls.courseID?.invalid)">-->
<!--                        <small class="form-text text-danger"-->
<!--                        [hidden]="!editForm.controls.courseID?.errors?.required">-->
<!--                        This field is required.-->
<!--                        </small>-->
<!--                    </div>-->
<!--                </div>-->
                <div class="form-group">
                    <label class="form-control-label" for="field_courseID">Course</label>
                    <select class="form-control" id="field_courseID" name="courseID" [(ngModel)]="chapter.courseID" required>
                        <option *ngFor="let course of courses" [value]=course.id>
                            {{course.name}}
                        </option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
