<div class="container-fluid">
    <div class="card jh-card">
    <h2 id="page-heading">
        <span>Chapters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-chapter" [routerLink]="['/chapter/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Chapter
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="chapters?.length === 0">
        <span>No chapters found</span>
    </div>
    <div class="table-responsive" *ngIf="chapters?.length > 0">
        <table class="table table-striped" summary="Chapters Table">
            <thead>
            <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Name</span></th>
            <th scope="col"><span>Chapter Number</span></th>
            <th scope="col"><span>Description</span></th>
            <th scope="col"><span>Course ID</span></th>
            <th scope="col"><span>Paid Chapter</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let chapter of chapters ;trackBy: trackId">
                <td><a [routerLink]="['/chapter', chapter.id, 'view' ]">{{chapter.id}}</a></td>
                <td>{{chapter.name}}</td>
                <td>{{chapter.chapterNumber}}</td>
                <td>{{chapter.description}}</td>
                <td>{{chapter.courseID}}</td>
                <td>{{chapter.isPaidChapter}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/chapter', chapter.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/chapter', chapter.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'chapter', { outlets: { popup: chapter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
