<div class="container-fluid">
    <div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="chapter">
            <h2><span>Chapter</span> {{chapter.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{chapter.name}}</span>
                </dd>
                <dt><span>Chapter Number</span></dt>
                <dd>
                    <span>{{chapter.chapterNumber}}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{chapter.description}}</span>
                </dd>
                <dt><span>Course ID</span></dt>
                <dd>
                    <span>{{chapter.courseID}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/chapter', chapter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
    </div>
</div>
