os:
  - linux
services:
  - docker
language: node_js
node_js:
  - '10.16.0'
git:
  depth: false
cache:
  directories:
    - node
    - node_modules
    - $HOME/.m2
    - $HOME/.yarn-cache
env:
  global:
    - NODE_VERSION=10.16.0
    - SPRING_OUTPUT_ANSI_ENABLED=ALWAYS
    - SPRING_JPA_SHOW_SQL=false
    - JHI_DISABLE_WEBPACK_LOGS=true
    - NG_CLI_ANALYTICS="false"
    - secure: CoqKqFCAT6oo/XUhakx6agBVUZiY2ytC/4lvwF6aMeylC+pQklc9VyrxMtqDCG1/tJu+hIB12C5+oDvJXsGOJ2KjU2BonN1k/fSsH7kv6QcvzqpYTvFb69bWwIDCg71LWBB1r4+tXnMHnQ5ddg5Y5RIvINXZAGE0TtJ9+lSKk0VN4mVMxWws72VnUINwxNUdDjaG5sM0QysiZub+8M8mIl7KMej+2C9PXSePruxxEwa6dYzM4yYAJZxi+4MzxvYDQQpOuiE9614Vj4A7oabQ5aRNOViXSs/ESSbiF0P4p6upiw0R4+AULhMm0KVOMqz85eF30gB1+VhW6f3FDaOQIJTiZyPkl8g60lBDM4PyFiHA/KTlMB1vzuYXHfvtAU0SB1DESc4lsGMKZ1wVuZavvarQH+RbbBMX61b72dICxYhaCYay7lVFVpOfYur/zc9RsELEEIVRtQGYPEpdu83Y2P7GWGQyrqIxNqBBl/80XV5Kx7z/NmOd9eUMwcaZbI4XA2UJ6Kccy29o6P4hP27zmfgpojgUbCRh1wtHy6SgaBWqobiD5J6VwvFvd29sxeUd+p1DVntbKXW3228W/acQak2rCKp74yEbyfy/6kXJeTu2l0vG7STveZD5rWVnNs3NJGdbHsMBjN6/IulneOaJEjMOnh236Jfqij4FtL98020=
before_install:
  - wget https://github.com/sormuras/bach/raw/master/install-jdk.sh
  - source install-jdk.sh --feature 11
  - java -version
  - sudo /etc/init.d/mysql stop
  - sudo /etc/init.d/postgresql stop
  # Repo for Yarn
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH
install:
  - yarn install
script:
  - chmod +x mvnw
  - ./mvnw com.github.eirslett:frontend-maven-plugin:yarn -Dfrontend.yarn.arguments='run test' -Dmaven.repo.local=$MAVEN_USER_HOME
  - if [ "$TRAVIS_PULL_REQUEST" == "false" ]; then ./mvnw -ntp org.jacoco:jacoco-maven-plugin:prepare-agent initialize sonar:sonar -Dsonar.organization=python-sinhala-education-society -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN
notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/260eb3b570873affaad2
    on_success: change # options: [always|never|change] default: always
    on_failure: always # options: [always|never|change] default: always
    on_start: false # default: false
after_success:
  - bash ./deploy.sh;
