<div class="card jh-card">
    <div>
        <mat-toolbar>
            <button mat-icon-button (click)="drawer.toggle()"><fa-icon [icon]="'bars'"></fa-icon></button><span
                class="toolbar-button-text">{{course.name}}</span>
        </mat-toolbar>
        <br/>
        <div class="mat-body">
            <mat-drawer-container autosize>
                <mat-drawer #drawer [mode]="mobileQuery.matches ? 'over' : 'side'" opened="true">
                    <mat-expansion-panel *ngFor="let navItem of navItems">
                        <mat-expansion-panel-header>
                            <mat-panel-title class="chapterNames">{{navItem.chapterNumber}}
                                : {{navItem.chapterName}}</mat-panel-title>
                        </mat-expansion-panel-header>
                        <mat-list>
                            <a mat-list-item
                               (click)="clickedVideo = video; mobileQuery.matches ? drawer.toggle(): null; this.getCommentsForVideo(this.clickedVideo)"
                               *ngFor="let video of navItem.videos">
                                <button mat-button>{{video.name}}</button>
                                <span class="badge badge-info" *ngIf='video.url === null'>Subscribe</span></a>
                        </mat-list>
                    </mat-expansion-panel>
                </mat-drawer>
                <mat-drawer-content>
                    <div class="embed-responsive embed-responsive-16by9" *ngIf="clickedVideo != null">
                        <iframe *ngIf="clickedVideo.url != null" class="embed-responsive-item"
                                [src]='clickedVideo.url + "?modestbranding=1" | safe'
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen></iframe>
                    </div>
                    <section class="content-item" id="comments">
                        <div class="container">
                            <div class="row d-flex justify-content-center">
                                <div class="col-sm-8">
                                    <form (ngSubmit)="saveComment(editForm)" #editForm="ngForm">
                                        <h3 class="float-md-left">New Comment</h3>
                                        <button type="submit" class="btn btn-primary float-md-right"
                                                [disabled]="editForm.form.invalid || isSaving">Submit
                                        </button>
                                        <fieldset>
                                            <div class="row">
                                                <div class="col-sm-3 col-lg-2 d-none d-sm-block">
                                                    <img class="img-fluid" [src]="profilePicURL()"
                                                         alt="Profile Picture">
                                                </div>
                                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea name="comment_body" [(ngModel)]="comment.commentBody" class="form-control"
                                              id="message" placeholder="Your message" required></textarea>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </form>

                                    <h3>{{comments.length}} Comments</h3>
                                    <!-- COMMENT - START -->
                                    <div *ngFor="let comment of comments" class="media">
                                        <img class="img-fluid" [src]="profilePicURL(comment.createdBy)"
                                             alt="Profile Picture">
                                        <div class="media-body">
                                            <h4 class="media-heading">{{comment.createdBy}}</h4>
                                            <p>{{comment.commentBody}}</p>
                                            <ul class="list-unstyled list-inline media-detail float-md-left">
                                                <li class="list-inline-item">
                                                    <fa-icon [icon]="'calendar'"></fa-icon>
                                                    {{comment.createdDate | date:'dd/MM/yy HH:mm'}}</li>
                                                <!--<li class="list-inline-item"><fa-icon [icon]="'thumbs-up'" ></fa-icon> {{comment.likesCount}}</li>-->
                                            </ul>
                                            <ul class="list-unstyled list-inline media-detail float-md-right">
                                                <!--<li class="list-inline-item"><a (click)=incrementLikesCount(comment)>Like</a></li>-->
                                                <!--<li class="list-inline-item"><a >Reply</a></li>-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </mat-drawer-content>
            </mat-drawer-container>
        </div>
    </div>
</div>
