<div>
    <mat-toolbar>
        <span>{{course.name}}</span>
        <span class="middle-content"></span>
        <span>
            <button mat-raised-button color="primary" *jhiHasAnyAuthority="'ROLE_ADMIN'" [routerLink]="['/video/new']">
                <fa-icon [icon]="'plus'"></fa-icon>
                <span>
                    Create New Video
                </span>
            </button>
        </span>
    </mat-toolbar>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="mat-body">
        <mat-drawer-container autosize>
            <mat-drawer mode="side" opened>
                <mat-expansion-panel *ngFor="let navItem of navItems">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="chapterNames">{{navItem.chapterNumber}}: {{navItem.chapterName}}</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-list>
                        <a mat-list-item (click)="clickedVideo = video" *ngFor="let video of navItem.videos"><button mat-button>{{video.name}}</button></a>
                    </mat-list>
                </mat-expansion-panel>
            </mat-drawer>

            <mat-drawer-content>
                <div class="embed-responsive embed-responsive-16by9" *ngIf="clickedVideo != null">
                    <iframe class="embed-responsive-item" [src]='clickedVideo.url + "?modestbranding=1" | safe' allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </mat-drawer-content>
        </mat-drawer-container>
    </div>
</div>
