<div class="container-fluid">
    <div class="card jh-card">
<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comment-heading">Create or edit a Comment</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           formControlName="id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_videoID">Video ID</label>
                    <input type="text" class="form-control" name="videoID" id="field_videoID"
                           formControlName="videoID"/>
                    <div *ngIf="editForm.get('videoID').invalid && (editForm.get('videoID').dirty || editForm.get('videoID').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('videoID').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_commentBody">Comment Body</label>
                    <input type="text" class="form-control" name="commentBody" id="field_commentBody"
                           formControlName="commentBody"/>
                    <div *ngIf="editForm.get('commentBody').invalid && (editForm.get('commentBody').dirty || editForm.get('commentBody').touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('commentBody').errors.required">
                            This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_likesCount">Likes Count</label>
                    <input type="number" class="form-control" name="likesCount" id="field_likesCount"
                           formControlName="likesCount"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dislikesCount">Dislikes Count</label>
                    <input type="number" class="form-control" name="dislikesCount" id="field_dislikesCount"
                           formControlName="dislikesCount"/>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" name="isApproved" id="field_isApproved"
                           formControlName="isApproved" />
                    <label class="form-check-label" for="field_isApproved">Is Approved</label>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
    </div>
</div>
