<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comment">
            <h2><span>Comment</span> {{comment.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Video ID</span></dt>
                <dd>
                    <span>{{comment.videoID}}</span>
                </dd>
                <dt><span>Comment Body</span></dt>
                <dd>
                    <span>{{comment.commentBody}}</span>
                </dd>
                <dt><span>Likes Count</span></dt>
                <dd>
                    <span>{{comment.likesCount}}</span>
                </dd>
                <dt><span>Dislikes Count</span></dt>
                <dd>
                    <span>{{comment.dislikesCount}}</span>
                </dd>
                <dt><span>Is Approved</span></dt>
                <dd>
                    <span>{{comment.isApproved}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comment', comment.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
