<div class="container-fluid">
    <div class="card jh-card">
    <h2 id="page-heading">
        <span>Comments</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comment" [routerLink]="['/comment/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Comment
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="comments?.length === 0">
        <span>No comments found</span>
    </div>
    <div class="table-responsive" *ngIf="comments?.length > 0">
        <table class="table table-striped">
            <caption [hidden]="true">Comments From Users</caption>
            <thead>
            <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Video ID</span></th>
            <th scope="col"><span>Comment Body</span></th>
            <th scope="col"><span>Non Approved Comment/Replies</span></th>
<!--            <th><span>Likes Count</span></th>-->
<!--            <th><span>Dislikes Count</span></th>-->
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comment of comments ;trackBy: trackId">
                <td><a [routerLink]="['/comment', comment.id, 'view']">{{comment.id}}</a></td>
                <td>{{comment.videoID}}</td>
                <td>{{comment.commentBody}}</td>
                <td>
                    <ul class="list-unstyled">
                        <li *ngFor="let commentAndReplies of commentAndAllReplies(comment)">
                            <button class="btn" type="submit" (click)="changeToApprove(comment, commentAndReplies)"><fa-icon [icon]="commentAndReplies.approved ? 'check': 'question'"></fa-icon> {{commentAndReplies.commentBody}}</button>
                        </li>
                        <li>
                            <div class="btn-group">
                                <button type="submit" (click)="approveComment(comment)" class="btn btn-warning btn-sm">
                                    <fa-icon [icon]="'check'"></fa-icon>
                                    <span class="d-none d-md-inline">Confirm</span>
                                </button>
                                <button type="submit" (click)="resetComment()" class="btn btn-primary btn-sm">
                                    <fa-icon [icon]="'sync'"></fa-icon>
                                    <span class="d-none d-md-inline">Reset</span>
                                </button>
                            </div>
                        </li>
                    </ul>
                </td>
<!--                <td>{{comment.likesCount}}</td>-->
<!--                <td>{{comment.dislikesCount}}</td>-->
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/comment', comment.id, 'view']"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/comment', comment.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'comment', { outlets: { popup: comment.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
