<div class="container-fluid">
    <div class="card jh-card">
        <div class="row justify-content-center">
            <div class="col-8">
                <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
                    <h2 id="jhi-video-heading">Create or edit a Video</h2>
                    <div>
                        <jhi-alert-error></jhi-alert-error>
                        <div class="form-group" [hidden]="!editForm.get('id').value">
                            <label for="id">ID</label>
                            <input type="text" class="form-control" id="id" name="id" formControlName="id"
                                   readonly/>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_name">Name</label>
                            <input type="text" class="form-control" name="name" id="field_name"
                                   formControlName="name"/>
                            <div
                                *ngIf="editForm.get('name').invalid && (editForm.get('name').dirty || editForm.get('name').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('name').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_episode">Episode</label>
                            <input type="number" class="form-control" name="episode" id="field_episode"
                                   formControlName="episode"/>
                            <div
                                *ngIf="editForm.get('episode').invalid && (editForm.get('episode').dirty || editForm.get('episode').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('episode').errors.required">
                                    This field is required.
                                </small>
                                <small class="form-text text-danger"
                                       [hidden]="!editForm.get('episode')?.errors?.number">
                                    This field should be a number.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_description">Description</label>
                            <input type="text" class="form-control" name="description" id="field_description"
                                   formControlName="description"/>
                            <div
                                *ngIf="editForm.get('description').invalid && (editForm.get('description').dirty || editForm.get('description').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('description').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_url">Url</label>
                            <input type="text" class="form-control" name="url" id="field_url"
                                   formControlName="url"/>
                            <div
                                *ngIf="editForm.get('url').invalid && (editForm.get('url').dirty || editForm.get('url').touched)">
                                <small class="form-text text-danger"
                                       *ngIf="editForm.get('url').errors.required">
                                    This field is required.
                                </small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_courseID">Course</label>
                            <select #courseSelect class="form-control" id="field_courseID" name="courseID"
                                    formControlName="courseID" (change)="loadAllChaptersForCourse(courseSelect.value)"
                                    required>
                                <option *ngFor="let course of courses" [value]=course.id>
                                    {{course.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label" for="field_chapterID">Chapter</label>
                            <select class="form-control" id="field_chapterID" name="chapterID"
                                    formControlName="chapterID" required>
                                <option *ngFor="let chapter of chapters" [value]=chapter.id>
                                    {{chapter.name}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group" formArrayName="resources">
                            <label class="form-control-label">Resources</label>
                            <div *ngFor="let resource of resources.controls; let i=index">
                                <div class="form-row mt-3" [formGroupName]="i.toString()">
                                    <div class="col-5">
                                        <input type="text" class="form-control" placeholder="Resource Name"
                                               formControlName="name"/>
                                    </div>
                                    <div class="col-5">
                                        <input type="text" class="form-control" placeholder="Resource URL"
                                               formControlName="url"/>
                                    </div>
                                    <div class="col-2">
                                        <a role="button" id="resource_add" class="btn btn-light"
                                           (click)="addResources('', '')">
                                            <fa-icon [icon]="'plus'">Add</fa-icon>
                                        </a>
                                        <a role="button" id="resource_remove" class="btn btn-light"
                                               (click)="removeResources(i)">
                                        <fa-icon [icon]="'minus'">Remove</fa-icon>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="isSample" id="field_isSample"
                                   formControlName="isSample"/>
                            <label class="form-check-label" for="field_isSample">Is Sample</label>
                        </div>
                    </div>
                    <div>
                        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                            <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                        </button>
                        <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving"
                                class="btn btn-primary">
                            <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
