<div class="container-fluid">
    <div class="card jh-card">
    <h2 id="page-heading">
        <span>Videos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-video" [routerLink]="['/video/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Video
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <span>Filter (by name)</span> <input type="text" [(ngModel)]="filter" class="form-control" (keyup)="loadAll()">
    <br/>
    <div class="alert alert-warning" *ngIf="videos?.length === 0">
        <span>No videos found</span>
    </div>
    <div class="table-responsive" *ngIf="videos?.length > 0">
        <table class="table table-striped">
            <caption [hidden]="true">Videos Table</caption>
            <thead>
            <tr>
            <th scope="col"><span>ID</span></th>
            <th scope="col"><span>Name</span></th>
            <th scope="col"><span>Episode</span></th>
            <th scope="col"><span>Description</span></th>
            <th scope="col"><span>Url</span></th>
            <th scope="col"><span>Course Name</span></th>
            <th scope="col"><span>Chapter Name</span></th>
            <th scope="col"><span>Is Sample</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let video of videos ;trackBy: trackId">
                <td><a [routerLink]="['/video', video.id, 'view' ]">{{video.id}}</a></td>
                <td>{{video.name}}</td>
                <td>{{video.episode}}</td>
                <td>{{video.description}}</td>
                <td>{{video.url}}</td>
                <td><a [routerLink]="['/course', video.courseID, 'view' ]">{{video.courseName}}</a></td>
                <td><a [routerLink]="['/chapter', video.chapterID, 'view' ]">{{video.chapterName}}</a></td>
                <td>{{video.isSample}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/video', video.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/video', video.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'video', { outlets: { popup: video.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
