<div class="col-md-12 hipster jumbotron">
    <h1 class="display-4">Welcome to PythonSinhala!</h1>
    <p class="lead">There is only one good, knowledge, and one evil, ignorance.</p>

    <p>OnlineTutor is a personalized tutoring platform especially aimed for Students and Teachers. Teachers can upload and manage their courses while students can gain valuable skills and knowledge!</p>

    <div *ngIf="!isAuthenticated()">
        <p>You don't have an account yet? Register for Free!</p>
        <button type="button" class="btn btn-primary btn-md" (click)=login()>Sign-In</button>
        <button type="button" class="btn btn-primary btn-md" routerLink="register">Register</button>
    </div>
</div>
<div class="container">
    <h3 class="mb-3">Why Choose Us</h3>
    <div class="row">
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img-top" alt="" src="../../content/images/quality_video.svg">
                <div class="card-body">
                    <h5 class="card-title">Quality Lecture Videos</h5>
                    <p class="card-text">High quality lecture videos with in lecture demonstrations/lab exercises which help students see what is being taught in action.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img-top" alt="" src="../../content/images/experienced_instructors.svg">
                <div class="card-body">
                    <h5 class="card-title">Experienced Instructors</h5>
                    <p class="card-text">Experienced instructors with years of experience in teaching and preparing students for exams.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-12">
            <div class="card">
                <img class="card-img-top" alt="" src="../../content/images/one_to_one_help.svg">
                <div class="card-body">
                    <h5 class="card-title">One to One Help</h5>
                    <p class="card-text">Discussion boards to engage with other students and instructors to help understand the lectures thoroughly.</p>
                </div>
            </div>
        </div>
    </div>
</div>
