/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
    background: url('../../content/images/jumbotron.jpg') no-repeat center top;
    background-size: cover;
    text-align: center;
    margin-top: 62px;
    margin-bottom: auto;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
    only screen and (min--moz-device-pixel-ratio: 2),
    only screen and (-o-min-device-pixel-ratio: 2/1),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .hipster {
        background: url('../../content/images/jumbotron.jpg') no-repeat center top;
        background-size: cover;
    }
}

.login-snack-bar {
    background-color: #ffffff;
    color: #000000;
}

.register {
    margin-top: 15%;
}

.jh-card {
    height: 430px;
}

section {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#mission {
    background-color: white;
}

#ourTeam {
    background-color: white;
}
